<!DOCTYPE html>
<html class="ku-bs theme-hum" lang="en">

<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link
            href="https://cdn.jsdelivr.net/gh/ku-kom/bootstrap@9d76fd04a39fab4a5f70b68d5f4d0ea6c396d2b7/docs/images/favicons/favicon_fa.ico"
            rel="shortcut icon">
    <link rel="stylesheet" href="https://cms.ku.dk/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <main>

    </main>
    <footer></footer>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>