<div class="popup">
    <button class="close__btn">
        <span aria-hidden="true" class="glyphicon glyphicon-remove control__icon"></span>
    </button>
    <button class="left__btn">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left control__icon"></span>
    </button>
    <button class="right__btn">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right control__icon"></span>
    </button>
    <div class="image-view__large">
    </div>
    <p id="progress"></p>
    <div class="image-view__small"></div>
</div>

