<nav class="mm-menu mm-menu_offcanvas mm-menu_keyboardfocus mm-menu_navbar_top-1 mm-menu_selected-parent mm-menu_multiline mm-menu_pagedim-black mm-menu_position-front mm-menu_position-right mm-menu_opened">
    <div class="row mobile-menu mobile-menu--hidden">
        <div class="mobile-menu__level mobile-menu__level--big active" id="mobile-menu__level-1">
            <div class="mobile-menu__label">
                <h4>Primary menu</h4>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="mobile-menu__content">
                <h4 class="mobile-menu__heading">Primary menu</h4>
                <ul>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__level mobile-menu__level--small" id="mobile-menu__level-2">
            <div class="mobile-menu__label">
                <h4>Secondary menu</h4>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="mobile-menu__content">
                <h4 class="mobile-menu__heading">Primary menu</h4>
                <ul>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__level mobile-menu__level--small" id="mobile-menu__level-3">
            <div class="mobile-menu__label">
                <h4>Ternary menu</h4>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="mobile-menu__content">
                <h4 class="mobile-menu__heading">Primary menu</h4>
                <ul>
                    <li >
                        <div class="mobile-menu__item">
                            <a href="#">Some Link</a>
                            <div class="mobile-menu__submenu-icon">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                        </div>
                        <div class="mobile-submenu">
                            <ul>
                                <li class="mobile-submenu__item"><a href="#">Some link</a></li>
                                <li class="mobile-submenu__item"><a href="#">Some link</a></li>
                                <li class="mobile-submenu__item"><a href="#">Some link</a></li>
                                
                            </ul>
                        </div>
                    </li>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                    <li class="mobile-menu__item"><a href="#">Some Link</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>