<!DOCTYPE html>
<html class="ku-bs theme-hum" lang="en">

<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link
        href="https://cdn.jsdelivr.net/gh/ku-kom/bootstrap@9d76fd04a39fab4a5f70b68d5f4d0ea6c396d2b7/docs/images/favicons/favicon_fa.ico"
        rel="shortcut icon">
    <link rel="stylesheet" href="https://cms.ku.dk/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="pagewrapper" class="mm-page mm-slideout">
        <header top-menu></header>
        <nav second-menu></nav>
        <main id="content">
            <div branding></div>
            <div class="container main-area" id="main-area">

                <div sidebar-navigation></div>
                <div class="col-md-9">
                    <div bread-crumbs></div>
                </div>
                <div main-content></div>

            </div>
        </main>
        <footer></footer>
    </div>
    <div mobile-menu></div>
</body>

</html>