div[pill] {
    display: inline-block;
    margin: 0 0.8em 0.8em 0;
}

.pill {
    border: 1px solid var(--COLOR-DIVIDER);
    padding: 1em;
    
}

.pill p {
    margin: 0;
    display: inline-block;
    margin-right: 1em;
}

.pill .glyphicon-remove {
    cursor: pointer;
    display: inline-block
}

.pill .glyphicon-remove:hover {
    color: var(--COLOR-PRIMARY);
}