<div class="container ku-branding">
    <div class="row row-equal-height">
      <div class="col-sm-7 ku-branding-line">
        <div class="ku-branding-logo">
          <a aria-label="Københavns Universitet" href="/" class="branding__img-link" title="">
            <img alt="Københavns Universitet" class="img-responsive" src="https://cdn.jsdelivr.net/gh/ku-kom/bootstrap@2282cd3d0622aed4f7441c5f522e0f71b209228b/docs/images/branding/faelles.svg">
          </a>
        </div>
        <div class="ku-branding-text">
          <a href="/" tabindex="-1">
              <div class="ku-branding-text-major branding__heading" role="heading" aria-level="1"></div>
              <div class="ku-branding-text-sub"></div>
          </a>
        </div>
      </div>
      <div class="col-sm-5 search-area">
        <form action="" aria-label="Formular til søgning" class="navbar-form navbar-right search_form search_reset global-search" method="GET" name="">
                  <div class="input-group">
                      <input aria-label="Inputfelt til søgeord" class="form-control global-search-query" placeholder="Søg..." type="text">
                      <div class="input-group-btn btn-global-search">
                          <button aria-label="Søg" class="btn btn-default global-search-submit" type="submit"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                      </div>
                  </div>
              </form>
      </div>
    </div>
  </div>