.main-page-content {
    display: flex;
    height: 100%;
    align-items: center;
}

.central-container  {
    display: flex;
    justify-content: center;
}

.central-container-content {
    text-align: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    margin: auto;
}

.input-form label {
    margin-top: 3em;
}

.central-container button {
    height: 4em;
    width: 8em;
    background-color: #4f4f4f;
    color: #d5d2d2;
    font-family: inherit;
    cursor: pointer;
    margin: 0.5em;
}
.disabled-btn {
    pointer-events: none;
    opacity: 0.3;
}
#search-btn{
    height: auto;
    margin: 0 0 0 0.5em;
    width: 8em;
    background-color: #4f4f4f;
    color: #d5d2d2;
    font-family: inherit;
    cursor: pointer;
}

#next-btn {
    background-color: rgba(38, 38, 151, 0.83);
}
#search-i {
flex-grow: 1;
}

.offset-container {
    display: flex;
    flex-direction: row;
}
.offset-container-child {
    margin-top: 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
}
#search-field-group {
    display: flex;
    width: 100%;
}
input[type=checkbox] {
    margin-left: 1em;
}
.cb-container {
    margin-top: 1em;
    display: flex;
    align-self: center;
    justify-self: center;
}