main {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
}

.table_cont {
    margin: 3rem;
    max-width: 70vw;
    overflow-x: scroll;
}

.big_div h1 span {
    font-weight: bold;
    text-decoration: underline;
}

.big_div h1 {
    margin-left: 3rem;
}