.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(37, 37, 37, 0.95);
    height: 100%;
    width: 100%;
    z-index: 1999;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}

.popup__btn,
.popup button {
    position: fixed;
    background-color: transparent;
    border: none;
    z-index: 999;
    color: var(--COLOR-TEXT-WHITE);
}
.popup__btn--close {
    right: 1em;
    top: 1em;
}

.popup__btn:hover {
    color: var(--COLOR-PRIMARY);
}

.body-background {
    height: 100%;
    overflow: hidden;
}

