<div class="pagination-cont">
    <p class="page-results"></p>
    <div class="custom-pagination">
        <div class="custom-pagination__arrow custom-pagination__arrow--left" tabindex="0" role="button" aria-label="pagination back">
            <span class="glyphicon glyphicon-backward"></span>
        </div>
        <div class="custom-pagination__pages-cont"></div>
        <div class="custom-pagination__arrow custom-pagination__arrow--right" tabindex="0" role="button" aria-label="pagination forward">
            <span class="glyphicon glyphicon-forward"></span>
        </div>
    </div>
</div>