.browse-guide {
    background-color: white;
    width: 70vw;
    height: 80vh;
    margin: auto;
    padding: 2em;
    position: relative;
}

.browse-guide > div {
    height: 100%;
}

.browse-guide__main {
    overflow-y: scroll;
}

.browse-guide .filter-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.browse-guide__section img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .browse-guide {
        overflow-y: scroll;
        width: 100vw;
        height: 100vh;
        padding: 0;
    }

    .popup__btn--close {
        color: black !important;
        background-color: white !important;
    }

    .browse-guide > div {
        height: auto;
    }
}
