.alpha-filter {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;



}

.alpha-filter__letter {
    background-color: var(--COLOR-LIGHT-GRAY);
    width: 4ch;
    padding: 0.75em 1ch;
    border: 1px solid var(--COLOR-DIVIDER);
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.alpha-filter__letter:hover {
    background-color: #BCBCBC;

}