<div class="search--large-cont">
    <span aria-hidden="true" class="glyphicon glyphicon-search search--large__bg-img"></span>
    <h1 class="search--large__heading"></h1>
    <label class="search--large__subHeading"></label>
    <div class="input-group search--large__input-group">
        <input type="text" class="form-control search--large__input" placeholder="Search" aria-describedby="basic-addon1">
        <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>