.search--large-cont {
    background-color: var(--COLOR-PRIMARY);
    padding: 4em 3em;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search--large__bg-img {
    position: absolute;
    top: auto;
    right: 0.4em;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    font-size: 8em;
    text-align: center;
}

.search--large__bg-img::before,
.search--large__heading,
.search--large__subHeading {
    color: white;
}

.search--large__heading {
    margin-top: 0;
}

.search--large__input-group {
    display: block;
}

.search--large__input-group button {
    margin-left: 0;
    border: var(--COLOR-TEXT-GRAY) 1px solid;
    padding-bottom:  5.5px;
}

.search--large__input {
    max-width: 35ch;
    border: var(--COLOR-TEXT-GRAY) 1px solid;
}

@media screen and (max-width: 768px) {
    .search--large-cont {
        padding: 3em 2.5em 3em 2.5em;
    }
    .search--large__bg-img {
        font-size: 4.5em;
        transform: translate(-20%, -60%);

    }
}
@media (max-width: 428px) {
    .search--large__bg-img {
        display: none;
    }
    .search--large__input {
        max-width: 20ch;
        min-width: 14ch;
    }
}