<nav aria-label="Global navigation" class="navbar navbar-default navbar-static-top ku-nav" id="kunav">
  <div class="container">
    <div class="navbar-collapse collapse" id="navbar">

      <ul aria-hidden="false" aria-label="Global navigation items" class="sf-menu nav navbar-nav" id="navbar_menu">
        <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" aria-label="How to study at UCPH" class="dropdown-toggle disabled" data-toggle="dropdown" href="https://studies.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Study-at-UCPH']);" role="button">Study at UCPH</a>
          <ul aria-hidden="true" class="dropdown-menu">
            <li><a aria-label="Find Bachelor's programmes" href="https://studies.ku.dk/bachelor/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Bachelors-Programmes']);">Bachelor's
              programmes</a></li>
            <li><a aria-label="Find Master's programmes" href="https://studies.ku.dk/masters/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Masters-Programmes']);">Master's programmes</a></li>
            <li><a aria-label="Information on studying abroad at UCPH" href="https://studies.ku.dk/study-abroad/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Study abroad']);">Study abroad</a></li>
            <li><a aria-label="Find PhD programmes" href="https://phd.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'PhD-Programmes-Study']);">PhD programmes</a></li>
            <li><a aria-label="Continuing Education at UCPH" href="https://continuing-education.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Continuing education']);">Continuing Education</a></li>
            <li><a aria-label="Course search at UCPH" href="http://courses.ku.dk" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Course-Search']);">Course search</a></li>
          </ul>
        </li>
        <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" aria-label="Research at UCPH" class="dropdown-toggle disabled" data-toggle="dropdown" href="https://research.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Research']);" role="button">Research</a>
          <ul aria-hidden="true" class="dropdown-menu">
            <li><a aria-label="Researchers and publications at UCPH" href="https://research.ku.dk/search/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Researchers-publications']);">Researchers and
              publications</a></li>
            <li><a aria-label="Find PhD programmes at UCPH" href="https://phd.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'PhD-Programmes']);">PhD programmes</a></li>
            <li><a aria-label="Find research centres at UCPH" href="https://research.ku.dk/areas/centres/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Research-Centres']);">Research centres</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a aria-expanded="false" aria-haspopup="true" aria-label="News from UCPH" class="dropdown-toggle disabled" data-toggle="dropdown" href="https://news.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'News']);" role="button">News</a>
          <ul aria-hidden="true" class="nyheder dropdown-menu">

            <li>
              <img alt="Extreme measuring device can bring quantum technology to your smartphone" src="https://science.ku.dk/english/press/news/2023/extreme-measuring-device-can-bring-quantum-technology-to-your-smartphone/billedinformationer/kvant2.png?resize=globalmenu">
              <a href="https://news.ku.dk/all_news/2023/07/extreme-measuring-device-can-bring-quantum-technology-to-your-smartphone/?utm_source=Nyheder&amp;utm_medium=Link&amp;utm_campaign=kudk-globalmenu">Extreme measuring device can bring quantum technology to your smartphone</a>
              <div class="small">2023.07.12</div>
            </li>
            <li>
              <img alt="ChatGPT promotes American norms and values" src="https://science.ku.dk/english/press/news/2023/chatgpt-promotes-american-norms-and-values/billedinformationer/Familie_1100x600p.jpg?resize=globalmenu">
              <a href="https://news.ku.dk/all_news/2023/07/chatgpt-promotes-american-norms-and-values/?utm_source=Nyheder&amp;utm_medium=Link&amp;utm_campaign=kudk-globalmenu">ChatGPT promotes American norms and values</a>
              <div class="small">2023.07.10</div>
            </li>
            <li>
              <img alt="Earth was created faster than we thought. This makes the chance of other habitable planets in the Universe more likely" src="https://healthsciences.ku.dk/newsfaculty-news/2023/06/Bizzarro_A_hjemmeside.jpg?resize=globalmenu">
              <a href="https://news.ku.dk/all_news/2023/06/earth-was-created-faster-than-we-thought/?utm_source=Nyheder&amp;utm_medium=Link&amp;utm_campaign=kudk-globalmenu">Earth was created faster than we thought. This makes the chance of other habitable planets in the Universe more likely</a>
              <div class="small">2023.06.22</div>
            </li>

            <li class="no-track"><a aria-label="All news from UCPH" href="https://news.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'All-news']);">All news</a></li>
            <li class="no-track"><a aria-label="UCPH press service" href="https://news.ku.dk/press-service/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Press-service']);">Press service</a>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" aria-label="Collaboration and innovation with UCPH" class="dropdown-toggle disabled" data-toggle="dropdown" href="https://collaboration.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Collaboration']);" role="button">Collaboration and innovation</a>
          <ul aria-hidden="true" class="dropdown-menu">
            <li><a aria-label="Research collaboration at UCPH" href="https://collaboration.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Research-collaboration']);">Research collaboration</a></li>
            <li><a aria-label="Collaboration and innovation at UCPH" href="https://collaboration.ku.dk/innovation/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Innovation']);">Innovation at UCPH</a></li>
            <li><a aria-label="Technology transfer" href="https://collaboration.ku.dk/innovation/technology-transfer/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Technology-transfer']);">Technology transfer</a></li>
            <li><a aria-label="UCPH Lighthouse innovation hub" href="https://lighthouse.ku.dk/en/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Lighthouse']);">UCPH Lighthouse innovation hub</a></li>
          </ul>
        </li>
        <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" aria-label="Employment at UCPH" class="dropdown-toggle disabled" data-toggle="dropdown" href="https://employment.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Employment']);" role="button">Employment</a>
          <ul class="dropdown-menu">
            <li><a aria-label="Find all vacancies at the UCPH Job portal" href="https://employment.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Job-Portal']);">Job portal</a>
            </li>
            <li><a aria-label="Career for young researchers" href="https://employment.ku.dk/career-for-young-researchers/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Carrer-young-researchers']);">Career for young researchers</a></li>
            <li><a aria-label="For international employees at UCPH" href="https://ism.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'International-Employees']);">For international employees</a></li>
            <li><a aria-label="Alumni at UCPH" href="https://alumni.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Alumni']);">Alumni</a></li>
          </ul>
        </li>
        <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle disabled" data-toggle="dropdown" href="https://about.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'About']);" role="button">About UCPH</a>
          <ul aria-hidden="true" class="dropdown-menu">
            <li><a aria-label="UCPH profile and history" href="https://about.ku.dk/profile-history/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Profile']);">Profile and history</a></li>
            <li><a aria-label="UCPH facts and figures" href="https://about.ku.dk/facts-figures/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Facts-figures']);">Facts and figures</a></li>
            <li><a aria-label="UCPH organisation" href="https://about.ku.dk/organisation//" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'organisation']);">Organisation</a></li>
            <li><a aria-label="All UCPH faculties" href="https://about.ku.dk/organisation/faculties/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Faculties']);">Faculties</a></li>
            <li><a aria-label="All UCPH departments" href="https://about.ku.dk/organisation/departments/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Departments']);">Departments</a></li>
            <li><a aria-label="UCPH general contact information" href="https://about.ku.dk/contact/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globalmenu-UK', 'klik', 'Contact']);">Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
