<div class="filter-bar">
    <h1 class="filter-bar__heading">Filter options</h1>
    <div info-comp></div>
    <div browse-guide-option></div>
    <div input-text label="Colour" placeholder="Search by colour"></div>
<!--    <div input-text label="Size" placeholder="Search by size"></div>-->
<!--    <div input-select label="Character" options='["option1", "option2", "option3"]'></div>-->
    <div input-select label="Cavity" options='["option1", "option2", "option3"]'></div>
    <div input-checkbox label="Seeds"></div>
    <div add-filter-button></div>
</div>