.filter-bar__expandable>* {
    margin-bottom: 2em;
}

.filter-bar .info-cont {
    padding: 1em;
}

.filter-bar__header span {
    display: none;
}

@media screen and (max-width: 768px) {
    .filter-bar__expandable {
        display: none;
    }

    .filter-bar__expandable.expanded,
    .filter-bar__header span {
        display: block;
    }

    .filter-bar__header {
        margin-top: 2em;
        margin-bottom: 1em;
        border: 1px solid var(--COLOR-DIVIDER);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: var(--COLOR-BACKGROUND3);

    }

    .filter-bar__heading {
        font-size: 1.25em;
    }

    .filter-bar__header>* {
        margin: 0.5em 1em;
    }
}