<div aria-label="Globale genveje" class="navbar-inverse navbar-static-top ku-topbar" role="navigation">
  <div class="container relative">
    <a class="topbar-logo" href="https://www.ku.dk/" title="Start"><span class="sr-only">Start</span></a>
    <a class="navbar-toggle leftmenu-toggle" href="#mobileleftmenu" id="btn_left" role="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-collapse collapse" id="topbar">
      <nav aria-label="Værktøjsmenu">
        <ul class="nav navbar-nav navbar-right" id="topbar_menu">
          <li><a aria-label="Find vej på KU" href="https://findvej.ku.dk" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-DA', 'klik', 'Find-vej']);">Find vej</a></li>
          <li><a aria-label="Telefonbog for KU" href="https://om.ku.dk/kontakt/telefonbog/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-DA', 'klik', 'Telefonbog']);">Telefonbog</a></li>
          <li><a aria-label="Job og karriere på KU" href="https://jobportal.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-DA', 'klik', 'Job']);">Job</a></li>
          <li><a aria-label="Indgang til KUnet" href="https://kunet.ku.dk/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-DA', 'klik', 'KUnet']);">KUnet</a></li>
          <li class="global-sprog"><a aria-label="Website in English" class="english" href="https://comm.ku.dk/" lang="en" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-DA', 'klik', 'English']);">English</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>