<div aria-label="Global shortcuts" class="navbar-inverse navbar-static-top ku-topbar" role="navigation">
  <div class="container relative">
    <a class="topbar-logo" href="https://www.ku.dk/english/" title="Start"><span class="sr-only">Start</span></a>
    <a class="navbar-toggle leftmenu-toggle" href="#mobileleftmenu" id="btn_left" role="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-collapse collapse" id="topbar">
      <nav aria-label="Utility menu">
        <ul class="nav navbar-nav navbar-right" id="topbar_menu">
          <li><a aria-label="UCPH map" href="https://findvej.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-UK', 'klik', 'Map']);">Map</a></li>
          <li><a href="https://about.ku.dk/contact/phone-book/" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-UK', 'klik', 'Phone-Book']);">Phone Book</a></li>
          <li><a aria-label="KUnet intranet" href="https://kunet.ku.dk/en" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-UK', 'klik', 'KUnet-UK']);">KUnet</a></li>
          <li class="global-sprog"><a aria-label="Website på dansk" class="dansk" href="https://komm.ku.dk/" lang="da" onclick="_gaq.push(['mainTracker._trackEvent', 'Globaltools-UK', 'klik', 'Dansk']);">Dansk</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>