<div popup >
    <button class="left__btn" role="button" aria-label="previous image">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left control__icon"></span>
    </button>
    <button class="right__btn" role="button" aria-label="next image">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right control__icon"></span>
    </button>
    <div class="image-view__large">
    </div>
    <p id="progress" role="progressbar" aria-label="the position of the current image / the number of images"></p>
    <div class="image-view__small"></div>
</div>

