.left__btn {
    left: 1em;
}
.right__btn {
    right: 1em;
}
.control__icon:hover {
    cursor: pointer;
    color: var(--COLOR-PRIMARY);
}

.control__icon {
    font-size: 2em;
    color: var(--COLOR-TEXT-WHITE)
}

.body-background {
    height: 100%;
    overflow: hidden;
}

.image-view__large {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

.image-view__large img {
    height: 40em;
}

.image-view__small {
    display: flex;
}
@media screen and (max-width: 992px) {
    .image-view__small {
        display: none;
    }
    .image-view__large img {
        width: 90vw;
        height: auto;
    }

    .left__btn {
        bottom: 4em;
    }
    .right__btn {
        bottom: 4em;
    }
    #progress {
        line-height: 0.8em;
    }
}

.image-view__small img {
    height: 8em;
    width: 12em;
    object-fit: cover;
    filter: brightness(45%);
    margin: 0 1em 0 1em;
}
.image-view__small img:hover {
    filter: none;
    cursor: pointer;
}

.image__active {
    filter: none !important;
}
.hidden-arrow {
    display: none;
}
#progress{
    color: var(--COLOR-TEXT-WHITE);
    font-weight: bold;
    font-size: 1.5em;
}
