<div class="container-fluid" id="globalfooter">
    <div class="container">
        <div aria-label="Footer navigation" class="row footercontent clearfix" role="navigation">
            <div class="col-xs-3 footercolumn">
                <h2 class="footer-heading" data-heading="toggle">University of Copenhagen</h2>
                <ul class="footerlinks">
                    <li><a aria-label="UCPH Management" href="https://about.ku.dk/management/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Management']);">Management</a></li>
                    <li><a aria-label="UCPH Administration" href="https://about.ku.dk/organisation/administration/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Administration']);">Administration</a></li>
                    <li><a aria-label="UCPH Faculties" href="https://about.ku.dk/organisation/faculties/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Faculties']);">Faculties</a></li>
                    <li><a aria-label="UCPH Departments" href="https://about.ku.dk/organisation/departments/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Departments']);">Departments</a></li>
                    <li><a aria-label="UCPH Research Centres" href="https://research.ku.dk/areas/centres/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Research']);">Research centres</a></li>
                    <li><a aria-label="UCPH animal hospitals" href="https://vetschool.ku.dk/english/about/animal-hospitals/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Hospitals']);">Animal hospitals</a></li>
                    <li><a aria-label="UCPH School of Dentistry" href="https://odontology.ku.dk/patient-info/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Dentristry']);">School of Dentistry</a></li>
                    <li><a aria-label="UCPH' libraries" href="https://kub.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Libraries']);">Libraries</a></li>
                    <li><a aria-label="UCPH museums" href="https://about.ku.dk/visit/museums/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Museums']);">Museums</a></li>
                </ul>
            </div>
            <div class="col-xs-3 footercolumn">
                <h2 class="footer-heading" data-heading="toggle">Contact</h2>
                <ul class="footerlinks">
                    <li><a aria-label="University map" href="https://findvej.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Map']);">Map</a></li>
                    <li><a aria-label="Find an employee at UCPH" href="https://about.ku.dk/contact/phone-book/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Employee']);">Find an employee</a></li>
                    <li><a aria-label="Contact UCPH" href="https://about.ku.dk/contact/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Contact']);">Contact UCPH</a></li>
                </ul>
                <h2 class="footer-heading" data-heading="toggle">Services</h2>
                <ul class="footerlinks">
                    <li><a aria-label="UCPH press and media service" href="https://news.ku.dk/press-service/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Press']);">Press and media service</a></li>
                    <li><a aria-label="UCPH merchandise" href="http://www.ku-shop.dk/en/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Merchandise']);">Merchandise</a></li>
                    <li><a href="https://about.ku.dk/apps/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Apps']);">UCPH apps</a></li>
                    <li><a aria-label="UCPH IT-support" href="https://about.ku.dk/organisation/administration/it/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'IT']);">IT-support</a></li>
                    <li><a href="https://about.ku.dk/contact/for-suppliers/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'For-suppliers']);">For suppliers</a></li>
                </ul>
            </div>
            <div class="col-xs-3 footercolumn">
                <h2 class="footer-heading" data-heading="toggle">For students and employees</h2>
                <ul class="footerlinks">
                    <li><a aria-label="KUnet - intranet for students and employees" class="padlock" href="https://kunet.ku.dk/en" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'KUnet']);">KUnet</a>
                        <span aria-hidden="true" class="icon icon-padlock"></span>
                    </li>
                </ul>
                <h2 class="footer-heading" data-heading="toggle">Job and career</h2>
                <ul class="footerlinks">
                    <li><a aria-label="UCPH job portal" href="https://employment.ku.dk" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Jobs']);">Job portal</a></li>
                    <!--<li><a href="https://mangfoldighed.ku.dk/english/" onClick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Diversity']);">Diversity and Equality</a></li>-->
                    <li><a aria-label="UCPH alumni" href="https://alumni.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Alumni']);">Alumni</a></li>
                </ul>
                <h2 class="footer-heading" data-heading="toggle">Emergencies</h2>
                <ul class="footerlinks">
                    <li><a aria-label="UCPH Emergency response" href="https://akut.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Emergency']);">Emergency response</a></li>
                </ul>
            </div>
            <div class="col-xs-3 footercolumn">
                <h2 class="footer-heading" data-heading="toggle">Web</h2>
                <ul class="footerlinks">
                    <!--<li><a href="https://about.ku.dk/about-the-website/" onClick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'About']);">About the website</a></li>-->
                    <li><a aria-label="UCPH Cookies and privacy policy" href="https://about.ku.dk/cookies-and-privacy-policy/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Cookies']);">Cookies and privacy policy</a></li>
                    <li><a aria-label="UCPH Accessibility statement" href="https://www.ku.dk/was" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Accessibility']);">Accessibility statement</a></li>
                    <li><a aria-label="UCPH information security" href="https://informationssikkerhed.ku.dk/english/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Security']);">Information security</a></li>
                </ul>
                <div class="social-items">
                    <h2 class="footer-heading" data-heading="open">Connect with UCPH</h2>
                    <div class="social-item">
                        <a aria-label="UCPH on Facebook" class="social-icon" href="https://www.facebook.com/universitet" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Facebook']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-facebook"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="UCPH on LinkedIn" class="social-icon" href="https://www.linkedin.com/school/university-of-copenhagen/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'LinkedIn']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-linkedin"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="UCPH on Instagram" class="social-icon" href="https://www.instagram.com/university_of_copenhagen/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Instagram']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-instagram"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="UCPH on Twitter" class="social-icon" href="https://twitter.com/UCPH_Research" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Twitter']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-twitter"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="UCPH on YouTube" class="social-icon" href="https://www.youtube.com/user/CopenhagenUniversity" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Youtube']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-youtube"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="KU apps" class="social-icon" href="https://about.ku.dk/apps/" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'KUapps']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-phone"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="UCPH on Futurity" class="social-icon" href="https://www.futurity.org/university/university-of-copenhagen" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Futurity']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-futurity"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="UCPH on The Conversation" class="social-icon" href="http://theconversation.com/institutions/university-of-copenhagen" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Conversation']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-conversation"></span></a>
                    </div>
                    <div class="social-item">
                        <a aria-label="UCPH on Coursera" class="social-icon" href="https://www.coursera.org/ucph" onclick="_gaq.push(['mainTracker._trackEvent', 'Footer-uk', 'klik', 'Coursera']);" rel="noopener" target="_blank"><span aria-hidden="true" class="icon icon-coursera"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>