*,
root {
    --COLOR-PRIMARY: #901A1E;
    --COLOR-BACKGROUND1: #F9F8F9;
    --COLOR-BACKGROUND2: #FFFEFE;
    --COLOR-BACKGROUND3: #D9D9D9;
    --COLOR-LIGHT-GRAY: #F4F4F4;
    --COLOR-TEXT-BLACK: #252525;
    --COLOR-TEXT-GRAY: #747475;
    --COLOR-TEXT-WHITE: #FFFFFF;
    --COLOR-DIVIDER: rgba(0, 0, 0, 0.1);
}

#btn_left {
    margin-right: 1.32rem;
}

.no-right-padding {
    padding-right: 0;
}

.no-left-padding {
    padding-left: 0;
}