
.search-info-row {
    padding-right: 0; 
}

.search-info-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.search-cont {
    width: 100%;
    position: relative;
}

.search-info {
    padding: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .search-info {
        margin-top: 1em;
    }

    .search-info-cont {
        grid-template-columns: 1fr;
    }
}